article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
  display: block; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
figure,
form,
fieldset,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

img {
  height: auto;
  max-width: 100%;
  vertical-align: top; }

.post__share .facebook:hover {
  background: #3b5998;
  border-color: #3b5998; }

.footer__social .facebook:hover .icon {
  fill: #3b5998; }

.post__share .twitter:hover {
  background: #55acee;
  border-color: #55acee; }

.footer__social .twitter:hover .icon {
  fill: #55acee; }

.post__share .gplus:hover {
  background: #dd4b39;
  border-color: #dd4b39; }

.footer__social .gplus:hover .icon {
  fill: #dd4b39; }

.post__share .instagram:hover {
  background: #405de6;
  border-color: #405de6; }

.footer__social .instagram:hover .icon {
  fill: #405de6; }

.post__share .vimeo:hover {
  background: #1ab7ea;
  border-color: #1ab7ea; }

.footer__social .vimeo:hover .icon {
  fill: #1ab7ea; }

.post__share .pinterest:hover {
  background: #bd081c;
  border-color: #bd081c; }

.footer__social .pinterest:hover .icon {
  fill: #bd081c; }

.post__share .youtube:hover {
  background: #cd201f;
  border-color: #cd201f; }

.footer__social .youtube:hover .icon {
  fill: #cd201f; }

.post__share .linkedin:hover {
  background: #0077B5;
  border-color: #0077B5; }

.footer__social .linkedin:hover .icon {
  fill: #0077B5; }

.post__share .buffer:hover {
  background: #222222;
  border-color: #222222; }

.footer__social .buffer:hover .icon {
  fill: #222222; }

.post__share .stumbleupon:hover {
  background: #eb4924;
  border-color: #eb4924; }

.footer__social .stumbleupon:hover .icon {
  fill: #eb4924; }

/* Typography
   ========================================================================== 
*/
html {
  font-size: 1rem; }
  @media screen and (min-width: 20rem) {
    html {
      font-size: calc(1rem + 0.2 * ((100vw - 20rem) / 113)); } }
  @media screen and (min-width: 133rem) {
    html {
      font-size: 1.2rem; } }

body {
  background: #fff;
  color: #4e5360;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  line-height: 1.6; }

a {
  color: #D6496C;
  text-decoration: none;
  -webkit-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out; }

a:hover {
  color: #4e5360; }

a:active {
  color: #4e5360; }

a:focus {
  color: #4e5360;
  outline: 2px dotted none; }

p,
ul,
ol,
dl,
table,
hr {
  margin-top: calc(1.5rem + 0.25vw); }

blockquote,
figure {
  margin-top: calc(1.5rem + 1vw);
  margin-bottom: calc(1.5rem + 1vw); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Serif", serif;
  font-weight: 400;
  letter-spacing: 0.02rem;
  line-height: 1.3;
  margin-top: calc(2.25rem + 1vw); }

h1 {
  margin: 0.5rem 0 1.5rem; }
  h1 {
    font-size: 1.42383rem; }
    @media screen and (min-width: 20rem) {
      h1 {
        font-size: calc(1.42383rem + 0.85687 * ((100vw - 20rem) / 113)); } }
    @media screen and (min-width: 133rem) {
      h1 {
        font-size: 2.2807rem; } }

h2 {
  font-size: 1.26562rem; }
  @media screen and (min-width: 20rem) {
    h2 {
      font-size: calc(1.26562rem + 0.33618 * ((100vw - 20rem) / 113)); } }
  @media screen and (min-width: 133rem) {
    h2 {
      font-size: 1.60181rem; } }

h3 {
  font-size: 1.125rem; }
  @media screen and (min-width: 20rem) {
    h3 {
      font-size: calc(1.125rem + 0.29883 * ((100vw - 20rem) / 113)); } }
  @media screen and (min-width: 133rem) {
    h3 {
      font-size: 1.42383rem; } }

h4 {
  font-size: 1rem; }
  @media screen and (min-width: 20rem) {
    h4 {
      font-size: calc(1rem + 0.26562 * ((100vw - 20rem) / 113)); } }
  @media screen and (min-width: 133rem) {
    h4 {
      font-size: 1.26562rem; } }

h5 {
  font-size: 0.88889rem; }
  @media screen and (min-width: 20rem) {
    h5 {
      font-size: calc(0.88889rem + 0.23611 * ((100vw - 20rem) / 113)); } }
  @media screen and (min-width: 133rem) {
    h5 {
      font-size: 1.125rem; } }

h6 {
  font-size: 0.79012rem; }
  @media screen and (min-width: 20rem) {
    h6 {
      font-size: calc(0.79012rem + 0.20988 * ((100vw - 20rem) / 113)); } }
  @media screen and (min-width: 133rem) {
    h6 {
      font-size: 1rem; } }

h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: calc(1rem + 0.25vw); }

b,
strong {
  font-weight: 600; }

blockquote {
  border-left: 2px solid #D6496C;
  font-family: "PT Serif", serif;
  padding: 0.25rem 0 0.25rem 2rem; }
  blockquote {
    font-size: 1.125rem; }
    @media screen and (min-width: 20rem) {
      blockquote {
        font-size: calc(1.125rem + 0.14062 * ((100vw - 20rem) / 113)); } }
    @media screen and (min-width: 133rem) {
      blockquote {
        font-size: 1.26562rem; } }
  blockquote cite {
    color: #4e5360;
    display: block;
    font-size: 0.889rem;
    margin-top: 0.75rem; }
    blockquote cite:before {
      content: "- "; }
  blockquote > :nth-child(1) {
    margin-top: 0; }

ul,
ol {
  margin-left: 2rem; }
  ul > li,
  ol > li {
    list-style: inherit;
    padding: 0 0 0.25rem 1rem; }

dl dt {
  font-weight: 600; }

pre {
  margin: 1.5rem 0 0;
  padding: 1.5rem 3rem;
  white-space: pre-wrap;
  word-wrap: break-word; }

code,
pre {
  background-color: #f6f6f6;
  font-family: "Monaco", "Courier New", monospace;
  font-size: 0.79rem; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  max-width: 100%;
  overflow-x: auto;
  vertical-align: top;
  text-align: left;
  white-space: nowrap; }
  table th {
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    padding: 0.75rem 1.25rem; }
  table tr:nth-child(2n) {
    background: #f6f6f7; }
  table td {
    padding: 0.75rem 1.25rem; }

figcaption {
  clear: both;
  color: #7a7e88;
  font-style: italic;
  font-size: 0.702rem;
  margin: 0.75rem 0 0;
  text-align: center; }

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

.btn, [type=button],
[type=submit],
button {
  background: #2a2e30;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: 400 0.6243rem "Muli", sans-serif;
  letter-spacing: 0.08em;
  padding: 0.75rem 1.25rem;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.12s linear 0s;
  -o-transition: all 0.12s linear 0s;
  transition: all 0.12s linear 0s;
  width: 100%; }
  @media all and (min-width: 20em) {
    .btn, [type=button],
    [type=submit],
    button {
      width: auto; } }
  .btn:hover, :hover[type=button],
  :hover[type=submit],
  button:hover, .btn:focus, :focus[type=button],
  :focus[type=submit],
  button:focus {
    color: #fff;
    background: #D6496C; }
  .btn:focus, :focus[type=button],
  :focus[type=submit],
  button:focus {
    outline: none; }
  .btn:disabled, :disabled[type=button],
  :disabled[type=submit],
  button:disabled {
    background-color: #f6f6f7;
    border-color: #d3d4d7;
    color: #7a7e88;
    cursor: not-allowed; }
  .btn:active, :active[type=button],
  :active[type=submit],
  button:active {
    background: #D6496C; }
  @media all and (max-width: 19.9375em) {
    .btn + .btn, [type=button] + .btn, [type=submit] + .btn, button + .btn, .btn + [type=button], [type=button] + [type=button], [type=submit] + [type=button], button + [type=button],
    .btn + [type=submit],
    [type=button] + [type=submit],
    [type=submit] + [type=submit],
    button + [type=submit],
    .btn + button,
    [type=button] + button,
    [type=submit] + button,
    button + button {
      margin-top: 0.5rem; } }

[type=button],
[type=submit],
button {
  -webkit-appearance: none;
  -moz-appearance: none; }

fieldset {
  border: 1px solid #dcdddf;
  margin: 0 0 1.5rem;
  padding: 1.5rem; }
  fieldset > legend {
    margin-left: -1rem;
    padding: 0 1rem; }

legend {
  font-weight: 600; }

label {
  font-weight: 600;
  margin: 0 1rem 0.75rem 0; }

option {
  font-weight: 400; }

[type=text],
[type=url],
[type=tel],
[type=number],
[type=email],
[type=search],
textarea,
select {
  background-color: #fff;
  border: none;
  border: 1px solid #dcdddf;
  font-size: 1rem;
  outline: none;
  padding: 0.5rem 0.75rem;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none; }
  @media all and (min-width: 37.5em) {
    [type=text],
    [type=url],
    [type=tel],
    [type=number],
    [type=email],
    [type=search],
    textarea,
    select {
      width: auto; } }
  [type=text]:focus,
  [type=url]:focus,
  [type=tel]:focus,
  [type=number]:focus,
  [type=email]:focus,
  [type=search]:focus,
  textarea:focus,
  select:focus {
    border-color: #D6496C; }

input[type=checkbox],
input[type=radio] {
  opacity: 0;
  position: absolute; }
  input[type=checkbox] + label,
  input[type=radio] + label {
    position: relative;
    margin-left: -1px;
    cursor: pointer;
    padding: 0; }
    input[type=checkbox] + label:before,
    input[type=radio] + label:before {
      background-color: #fff;
      border: 1px solid #dcdddf;
      border-radius: 2px;
      content: '';
      display: inline-block;
      height: 1.25rem;
      line-height: 1.25rem;
      margin-right: 1rem;
      vertical-align: middle;
      text-align: center;
      width: 1.25rem; }
  input[type=checkbox]:checked + label:before,
  input[type=radio]:checked + label:before {
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 8'%3e%3cpolygon points='9.53 0 4.4 5.09 1.47 2.18 0 3.64 2.93 6.54 4.4 8 5.87 6.54 11 1.46 9.53 0' fill='%23D6496C'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 11px 8px;
    background-position: 50% 50%; }

input[type=radio] + label:before {
  border-radius: 50%; }

input[type=radio]:checked + label:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3ccircle cx='4' cy='4' r='4' fill='%23D6496C'/%3e%3c/svg%3e"); }

[type=file] {
  margin-bottom: 1.5rem;
  width: 100%; }

select {
  max-width: 100%;
  width: auto;
  position: relative; }
  select:not([multiple]) {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 6"><polygon points="3 6 3 6 0 0 6 0 3 6" fill="%238a8b8c"/></svg>') no-repeat 90% 50%;
    background-size: 8px;
    padding-right: 3rem; }

select[multiple] {
  border: 1px solid #dcdddf;
  padding: 1.5rem;
  width: 100%; }
  select[multiple]:hover {
    border-color: #dcdddf; }
  select[multiple]:focus {
    border-color: #D6496C; }
  select[multiple]:disabled {
    background-color: #f6f6f7;
    cursor: not-allowed; }
    select[multiple]:disabled:hover {
      border-color: #dcdddf; }

textarea {
  display: block;
  overflow: auto;
  resize: vertical;
  max-width: 100%; }

/* Wrapper + Header ------------------------ */
.container {
  background: #fff;
  max-width: 100%;
  padding: 0 4%;
  overflow: hidden; }
  @media all and (min-width: 56.25em) {
    .container {
      padding: 0 3rem; } }
  .container > header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3rem;
    position: fixed;
    width: 92%;
    z-index: 999; }
    @media all and (min-width: 56.25em) {
      .container > header {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: calc(100% - 3rem * 2); } }
    .container > header.is-sticky-off {
      -webkit-transition: all 0.25s ease-in;
      -o-transition: all 0.25s ease-in;
      transition: all 0.25s ease-in;
      -webkit-transform: translateY(-200%);
      -ms-transform: translateY(-200%);
      transform: translateY(-200%); }
    .container > header.is-sticky-on {
      -webkit-transition: all 0.25s ease-out;
      -o-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      top: 0; }

.top {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media all and (max-width: 56.1875em) {
    .top {
      width: 100%; } }
  .top__search {
    margin-left: 0.5rem;
    position: relative; }
    @media all and (max-width: 56.1875em) {
      .top__search {
        margin-right: 3rem; } }
    .top__search [type="search"] {
      background: url(/svg/search.svg) no-repeat 100% 50%;
      background-size: 15px 14px;
      border: none;
      cursor: pointer;
      font-size: 0.79012rem;
      -webkit-transition: all 0.36s ease-in-out;
      -o-transition: all 0.36s ease-in-out;
      transition: all 0.36s ease-in-out;
      width: 15px; }
      .top__search [type="search"]:focus {
        border-bottom: 1px solid #dcdddf;
        cursor: auto;
        padding-right: 34px;
        width: auto; }
        @media all and (min-width: 56.25em) {
          .top__search [type="search"]:focus {
            width: 10rem; } }

/* Logo ------------------------ */
.logo {
  color: #4e5360 !important;
  font-family: "PT Serif", serif;
  font-size: 1rem; }
  @media all and (min-width: 56.25em) {
    .logo {
      font-size: 1.125rem; } }

/* Navigation ------------------------ */
.navbar__menu {
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding: 0; }
  @media all and (max-width: 56.1875em) {
    .navbar__menu {
      background: #fff;
      height: 100vh;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 3rem;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      visibility: hidden;
      width: 100%;
      z-index: 99999999;
      text-align: center; } }
  @media all and (min-width: 56.25em) {
    .navbar__menu {
      max-height: none;
      overflow: visible; } }
  .navbar__menu li {
    color: #fff;
    list-style: none;
    padding: 0; }
    @media all and (min-width: 56.25em) {
      .navbar__menu li {
        display: inline-block;
        font-size: 0.6243rem;
        letter-spacing: 0.08em;
        padding: 0 0.5rem;
        position: relative;
        text-transform: uppercase;
        z-index: 2001; } }
    .navbar__menu li:hover, .navbar__menu li[aria-expanded="true"] {
      cursor: pointer; }
      @media all and (min-width: 56.25em) {
        .navbar__menu li:hover > ul, .navbar__menu li[aria-expanded="true"] > ul {
          opacity: 1;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          visibility: visible; }
          .navbar__menu li:hover > ul li, .navbar__menu li[aria-expanded="true"] > ul li {
            margin: 0;
            display: block; } }
    .navbar__menu li a,
    .navbar__menu li span {
      display: block;
      color: #4e5360;
      white-space: nowrap; }
      @media all and (max-width: 56.1875em) {
        .navbar__menu li a,
        .navbar__menu li span {
          padding: 0.75rem 0; } }
      .navbar__menu li a:after,
      .navbar__menu li span:after {
        content: "";
        display: block;
        margin: 0 auto; }
      .navbar__menu li a:hover:not(span),
      .navbar__menu li span:hover:not(span) {
        color: #D6496C; }

@media all and (max-width: 56.1875em) {
  .navbar__submenu {
    margin: 0; } }

@media all and (min-width: 56.25em) {
  .navbar__submenu {
    background: #fff;
    -webkit-box-shadow: 0 0 10px rgba(78, 83, 96, 0.12);
    box-shadow: 0 0 10px rgba(78, 83, 96, 0.12);
    left: auto;
    margin: 15px 0 0;
    opacity: 0;
    padding: 1rem 1.5rem;
    position: absolute;
    top: 100%;
    -webkit-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    -webkit-transform: translate(0, -10%);
    -ms-transform: translate(0, -10%);
    transform: translate(0, -10%);
    visibility: hidden;
    width: auto;
    z-index: 2000; }
    .navbar__submenu:after {
      background: #fff;
      -webkit-box-shadow: -4px -2px 6px rgba(78, 83, 96, 0.08);
      box-shadow: -4px -2px 6px rgba(78, 83, 96, 0.08);
      content: '';
      display: block;
      height: 12px;
      left: 20px;
      position: absolute;
      top: -6px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 12px; }
    .navbar__submenu:before {
      content: '';
      display: block;
      height: 15px;
      left: 0;
      position: absolute;
      top: -15px;
      width: 100%; }
    .navbar__submenu li {
      border: none;
      font-size: 0.79012rem;
      letter-spacing: normal;
      margin: 0;
      padding: 0;
      text-transform: none; } }
    @media all and (min-width: 56.25em) and (max-width: 56.1875em) {
      .navbar__submenu li {
        padding: 0.25rem 0; } }

@media all and (min-width: 56.25em) {
      .navbar__submenu li a:hover:not(span),
      .navbar__submenu li span:hover:not(span) {
        color: #D6496C; }
      .navbar__submenu li ul {
        left: calc(100% + 12px);
        top: -22px;
        -webkit-transform: translate(-10%, 0);
        -ms-transform: translate(-10%, 0);
        transform: translate(-10%, 0); }
        .navbar__submenu li ul:after {
          left: -6px;
          top: 15px;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        .navbar__submenu li ul:before {
          height: 100%;
          left: -12px;
          top: 0;
          width: 12px; }
        .navbar__submenu li ul.navbar__submenu--reversed {
          left: auto;
          right: calc(100% + 12px);
          top: -22px; }
          .navbar__submenu li ul.navbar__submenu--reversed:after {
            left: auto;
            right: -6px;
            top: 15px;
            -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            transform: rotate(135deg); }
          .navbar__submenu li ul.navbar__submenu--reversed:before {
            height: 100%;
            left: auto;
            right: -12px;
            top: 0;
            width: 12px; }
    .col-2 .navbar__submenu {
      -webkit-column-count: 2;
      column-count: 2; }
    .col-3 .navbar__submenu {
      -webkit-column-count: 3;
      column-count: 3; } }

.navbar__toggle {
  background: none;
  border: none;
  border-top: 2px solid #2a2e30;
  border-radius: 0;
  display: block;
  height: 14px;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 0;
  text-indent: -99999rem;
  width: 1.8rem;
  z-index: 3; }
  @media all and (min-width: 56.25em) {
    .navbar__toggle {
      display: none; } }
  .navbar__toggle:before {
    border-top: 2px solid #2a2e30;
    content: "";
    right: 0;
    position: absolute;
    top: 4px;
    width: 50%; }
  .navbar__toggle:after {
    border-bottom: 2px solid #2a2e30;
    content: "";
    right: 0;
    position: absolute;
    bottom: 0;
    width: 75%; }
  .navbar__toggle:focus {
    background: none;
    outline: none;
    border: none;
    border-top: 2px solid #4e5360; }
  .navbar__toggle:hover {
    background: none; }

.is-opened > ul {
  opacity: 1;
  overflow: auto;
  visibility: visible; }
  .is-opened > ul li ul {
    height: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    -webkit-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%); }
  .is-opened > ul li:hover > ul {
    height: auto;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

.u-cutting {
  overflow: hidden; }

main {
  padding-top: 3rem; }

.hero {
  position: relative; }
  .hero__title {
    line-height: 1.2;
    margin: 0; }
    .hero__title {
      font-size: 1.42383rem; }
      @media screen and (min-width: 20rem) {
        .hero__title {
          font-size: calc(1.42383rem + 3.1998 * ((100vw - 20rem) / 113)); } }
      @media screen and (min-width: 133rem) {
        .hero__title {
          font-size: 4.62363rem; } }
  .hero__desc {
    color: #7a7e88;
    font-size: 0.6243rem;
    margin-top: calc(0.25rem + 1vw);
    margin-bottom: 1.5rem;
    max-width: 36rem;
    text-transform: uppercase; }
  .hero--normal {
    height: 50vh; }
    .hero--normal > header {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .hero--overlay {
    top: calc(3rem + 3rem);
    position: absolute;
    left: calc(4% + 3rem);
    z-index: 999; }
    @media all and (min-width: 56.25em) {
      .hero--overlay {
        left: calc(3rem + 3rem); } }
  .hero--author {
    text-align: center; }
    @media all and (min-width: 56.25em) {
      .hero--author {
        height: 50vh;
        text-align: left; }
        .hero--author > header {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); } }
    @media all and (min-width: 56.25em) {
      .hero--author__wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start; } }
    .hero--author__avatar {
      border-radius: 50%;
      height: 5.25rem;
      margin: 1rem 0 2.25rem;
      width: 5.25rem; }
      @media all and (min-width: 56.25em) {
        .hero--author__avatar {
          margin-right: 3rem; } }
    .hero--author__title sup {
      font-size: 1.125rem;
      top: 0;
      vertical-align: top; }
    .hero--author__desc {
      color: #7a7e88;
      max-width: 36rem;
      margin-bottom: 3rem; }
      @media all and (max-width: 56.1875em) {
        .hero--author__desc {
          margin-left: auto;
          margin-right: auto; } }

.portfolio {
  margin-bottom: 3rem; }
  .portfolio:after {
    content: " ";
    display: block;
    clear: both; }
  .portfolio > article {
    float: left;
    display: inline-block;
    height: 100%;
    width: 100%; }
    @media all and (min-width: 37.5em) {
      .portfolio > article {
        width: 50%; }
        .portfolio > article:nth-child(6n-5), .portfolio > article:nth-child(6n-2) {
          height: calc(100vh - 3rem * 2); }
          .portfolio > article:nth-child(6n-5) .card__image > img, .portfolio > article:nth-child(6n-2) .card__image > img {
            height: calc(100vh - 3rem * 2); }
        .portfolio > article:nth-child(6n-2) {
          float: right; }
        .portfolio > article:nth-child(6n-5) {
          clear: left; } }
  @media all and (max-width: 74.9375em) {
    .portfolio--gutter {
      margin: -0.5rem -0.5rem calc(3rem - 0.5rem); }
      .portfolio--gutter .card {
        margin: 0.5rem; }
        .portfolio--gutter .card__image > img {
          height: calc((100vh - 3rem * 2) / 2 - 0.5rem); } }
  @media all and (min-width: 37.5em) and (max-width: 74.9375em) {
    .portfolio--gutter > article:nth-child(6n-5), .portfolio--gutter > article:nth-child(6n-2) {
      height: calc((100vh - 3rem * 2) + 1rem); } }
  @media all and (min-width: 75em) {
    .portfolio--gutter {
      margin: -1rem -1rem calc(3rem - 1rem); }
      .portfolio--gutter .card {
        margin: 1rem; }
        .portfolio--gutter .card__image > img {
          height: calc((100vh - 3rem * 2) / 2 - 1rem); } }
  .portfolio--gutter > article {
    height: 100%; }
    @media all and (min-width: 75em) {
      .portfolio--gutter > article:nth-child(6n-5), .portfolio--gutter > article:nth-child(6n-2) {
        height: calc((100vh - 3rem * 2) + 2rem); } }

.card {
  display: block;
  position: relative;
  overflow: hidden;
  color: #4e5360; }
  .card__image {
    display: block;
    margin: 0;
    position: relative; }
    .card__image:before {
      background: rgba(255, 255, 255, 0.3);
      content: "";
      height: 100%;
      opacity: 0;
      position: absolute;
      -webkit-transition: all 0.35s ease-out;
      -o-transition: all 0.35s ease-out;
      transition: all 0.35s ease-out;
      width: 100%;
      z-index: 1; }
    .card__image:after {
      content: "\2192";
      left: 3rem;
      opacity: 0;
      position: absolute;
      top: 1rem;
      -webkit-transform: translateX(60%);
      -ms-transform: translateX(60%);
      transform: translateX(60%);
      -webkit-transition: all 0.7s ease-out;
      -o-transition: all 0.7s ease-out;
      transition: all 0.7s ease-out;
      width: calc(100% - 6rem);
      z-index: 2; }
    .card__image > img {
      height: calc((100vh - 3rem * 2) / 2);
      -o-object-fit: cover;
      object-fit: cover;
      overflow: hidden;
      -webkit-transition: all 0.7s;
      -o-transition: all 0.7s;
      transition: all 0.7s;
      width: 100%; }
  .card__header {
    padding: 3rem;
    position: absolute;
    text-align: left;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 100%;
    z-index: 2; }
    .card__header > p {
      text-transform: uppercase;
      color: #7a7e88;
      display: inline;
      font-size: 0.6243rem;
      margin: 0; }
    .card__header > h2 {
      font: 400 0.88889rem "PT Serif", serif;
      margin-top: 0rem; }
  .card:hover .card__header {
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
    -webkit-transition: all .35s ease-out;
    -o-transition: all .35s ease-out;
    transition: all .35s ease-out; }
  .card:hover .card__image:before {
    opacity: 1; }
  .card:hover .card__image:after {
    opacity: 1;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%); }
  .card:hover .card__image img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

.category {
  margin-top: calc(-3rem - 1vw); }
  @media all and (min-width: 37.5em) {
    .category {
      max-width: 36rem;
      margin-left: auto;
      margin-right: auto; } }
  @media all and (min-width: 56.25em) {
    .category {
      margin-bottom: calc(3rem - 1rem);
      max-width: 52rem; } }
  .category > article {
    display: inline-block;
    font-size: 0.88889rem;
    -webkit-margin-after: 0;
    -webkit-column-break-inside: avoid;
    margin: 1.5rem auto;
    page-break-inside: avoid;
    break-inside: avoid;
    text-align: center;
    vertical-align: top;
    width: 100%; }
  @media all and (min-width: 56.25em) {
    .category--col {
      -webkit-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 1rem;
      column-gap: 1rem; } }
  @media all and (min-width: 75em) {
    .category--col {
      -webkit-column-gap: 2rem;
      column-gap: 2rem; } }
  .category--normal .category__entry {
    max-width: 36rem;
    margin-left: auto;
    margin-right: auto; }
  .category__image {
    position: relative;
    -webkit-transition: all .35s ease-out;
    -o-transition: all .35s ease-out;
    transition: all .35s ease-out; }
    .category__image:after {
      content: "\2192";
      left: -60%;
      opacity: 0;
      position: absolute;
      top: 1rem;
      -webkit-transform: translateX(60%);
      -ms-transform: translateX(60%);
      transform: translateX(60%);
      -webkit-transition: all 0.7s ease-out;
      -o-transition: all 0.7s ease-out;
      transition: all 0.7s ease-out;
      width: 100%; }
    .category__image:hover {
      opacity: 0.7; }
      .category__image:hover:after {
        opacity: 1;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%); }
  .category__header > h2 {
    margin: 0.5rem 0 0; }
    .category__header > h2 a {
      color: #4e5360;
      text-decoration: none;
      -webkit-transition: all 0.35s ease-out;
      -o-transition: all 0.35s ease-out;
      transition: all 0.35s ease-out; }
    .category__header > h2 a:hover {
      color: #D6496C; }
    .category__header > h2 a:active {
      color: #D6496C; }
    .category__header > h2 a:focus {
      color: #D6496C;
      outline: 2px dotted none; }
  .category__header > p {
    color: #7a7e88;
    font-size: 0.6243rem;
    text-transform: uppercase; }
  .category__entry {
    margin-top: calc(0.75rem + 0.25vw); }
  .category__btn {
    display: inline-block;
    font: 400 0.6243rem "Muli", sans-serif;
    letter-spacing: 0.08em;
    margin-top: calc(1.5rem + 0.25vw);
    padding-right: 0.25rem;
    position: relative;
    vertical-align: middle;
    text-transform: uppercase; }
    .category__btn:after {
      content: "\2192";
      left: 0;
      opacity: 1;
      position: absolute;
      top: 0;
      -webkit-transform: translateX(60%);
      -ms-transform: translateX(60%);
      transform: translateX(60%);
      width: 100%; }
    .category__btn:hover {
      padding-right: 1.5rem; }
      .category__btn:hover:after {
        opacity: 1;
        -webkit-transform: translateX(60%);
        -ms-transform: translateX(60%);
        transform: translateX(60%); }

.post:after {
  content: " ";
  display: block;
  clear: both; }

@media all and (min-width: 37.5em) {
  .post {
    max-width: 36rem;
    margin: 0 auto; } }

@media all and (min-width: 56.25em) {
  .post {
    margin-bottom: 3rem;
    max-width: 52rem; } }

.post__featured-image {
  margin-top: 0;
  margin-bottom: 0; }
  .post__featured-image > img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center; }
    @media all and (min-width: 56.25em) {
      .post__featured-image > img {
        height: calc(100vh - 3rem * 2);
        min-height: 6vh; } }
  @media all and (min-width: 56.25em) {
    .post__featured-image > figcaption {
      margin-right: 3.75rem;
      text-align: right; } }

.post__header {
  margin: 0 0 calc(1.5rem + 2vw); }
  .post__header > h1 {
    line-height: 1.2;
    margin-top: calc(3rem + 2vw); }
    .post__header > h1 {
      font-size: 1.42383rem; }
      @media screen and (min-width: 20rem) {
        .post__header > h1 {
          font-size: calc(1.42383rem + 5.98233 * ((100vw - 20rem) / 113)); } }
      @media screen and (min-width: 133rem) {
        .post__header > h1 {
          font-size: 7.40616rem; } }

.post__image--left {
  float: left;
  margin-bottom: 2.75rem;
  margin-right: 2.75rem;
  width: 50%; }

.post__image--right {
  float: right;
  margin-bottom: 2.75rem;
  margin-left: 2.75rem;
  width: 50%; }

@media all and (min-width: 56.25em) {
  .post__image--wide {
    margin-left: -23.14815%;
    margin-right: -23.14815%;
    text-align: center; } }

.post__image--wide > img {
  height: auto;
  width: 100%; }

.post__image--full {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  text-align: center; }
  .post__image--full > img {
    width: 92%; }
    @media all and (min-width: 56.25em) {
      .post__image--full > img {
        width: calc(100% - 3rem * 2); } }

.post__video {
  height: 0;
  overflow: hidden;
  padding-top: 1.5rem;
  padding-bottom: 56.25%;
  position: relative; }
  .post__video > iframe {
    border: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

.post__meta {
  color: #7a7e88;
  font-size: 0.6243rem;
  text-transform: uppercase; }

@media all and (min-width: 56.25em) {
  .post__entry {
    width: 68.35443%;
    margin: 0 auto; } }

.post__entry__intro {
  font-family: "PT Serif", serif;
  margin: 0 auto calc(1.5rem + 1vw); }
  .post__entry__intro {
    font-size: 1.125rem; }
    @media screen and (min-width: 20rem) {
      .post__entry__intro {
        font-size: calc(1.125rem + 0.14062 * ((100vw - 20rem) / 113)); } }
    @media screen and (min-width: 133rem) {
      .post__entry__intro {
        font-size: 1.26562rem; } }

@media all and (min-width: 56.25em) {
  .post__entry__wide {
    margin-left: -23.14815%;
    width: 72.22222%; } }

@media all and (min-width: 56.25em) {
  .post__entry__wide--full {
    margin-left: -23.14815%;
    margin-right: -23.14815%; } }

.post__footer {
  clear: both; }
  @media all and (min-width: 56.25em) {
    .post__footer {
      width: 68.35443%;
      margin: 0 auto; } }

.post__bio {
  background: #2a2e30;
  color: #7a7e88;
  margin-top: calc(2.25rem + 0.25vw);
  padding: 5.06329%;
  text-align: center; }
  @media all and (min-width: 37.5em) {
    .post__bio {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      text-align: left; } }
  .post__bio-thumb {
    text-align: center; }
    @media all and (min-width: 37.5em) {
      .post__bio-thumb {
        width: 16.66667%; } }
    .post__bio-thumb > img {
      border-radius: 50%;
      height: 3.25rem;
      margin-bottom: -0.5rem;
      position: relative;
      width: 3.25rem;
      z-index: 2; }
  @media all and (min-width: 37.5em) {
    .post__bio-text {
      width: 81.48148%; } }
  .post__bio-text > h3 {
    font-size: 0.88889rem; }
    @media all and (min-width: 37.5em) {
      .post__bio-text > h3 {
        margin: 0; } }
    .post__bio-text > h3 a {
      color: #fff;
      text-decoration: none;
      -webkit-transition: all 0.35s ease-out;
      -o-transition: all 0.35s ease-out;
      transition: all 0.35s ease-out; }
    .post__bio-text > h3 a:hover {
      color: #D6496C; }
    .post__bio-text > h3 a:active {
      color: #D6496C; }
    .post__bio-text > h3 a:focus {
      color: #D6496C;
      outline: 2px dotted none; }
  .post__bio-text > p {
    font-size: 0.79012rem;
    margin: 1rem 0 0; }

.post__aside {
  margin: calc(1.5rem + 0.25vw) auto; }
  @media all and (min-width: 56.25em) {
    .post__aside {
      width: 68.35443%; } }

.post__tag {
  margin: 0;
  margin-top: calc(1.5rem + 0.25vw); }
  .post__tag li {
    display: inline-block;
    margin-right: 0.5rem;
    padding: 0; }
    .post__tag li > a {
      background: rgba(78, 83, 96, 0.08);
      border-radius: 50px;
      color: #4e5360;
      font-size: 0.6243rem;
      letter-spacing: 0.08em;
      padding: 0.15rem 0.75rem;
      text-decoration: none; }
      .post__tag li > a:hover {
        background: #4e5360;
        color: #fff; }

.post__share {
  margin: calc(1.5rem + 0.25vw) 0 0; }
  .post__share:after {
    content: " ";
    display: block;
    clear: both; }
  .post__share > a {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 1px;
    display: block;
    float: left;
    height: 2.5rem;
    line-height: 2.5rem;
    margin: 0.25rem;
    text-align: center;
    width: 2.5rem; }
    .post__share > a:hover {
      text-decoration: none; }
      .post__share > a:hover .icon {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        fill: #fff; }
  .post__share .icon {
    fill: #4e5360;
    height: 0.79012rem;
    line-height: 0.79012rem;
    margin: 0 auto;
    opacity: 1 !important;
    pointer-events: none;
    vertical-align: middle;
    width: 0.79012rem; }

@media all and (min-width: 56.25em) {
  .post--with-aside .post__aside {
    font-size: 65%;
    margin-top: 0.5rem;
    width: 12.65823%;
    float: left;
    margin-left: 0;
    margin-right: -100%; } }

@media all and (min-width: 56.25em) {
  .post--with-aside .post__share {
    margin: -0.25rem -0.25rem 1rem; } }

@media all and (min-width: 56.25em) {
  .post--with-aside .post__footer {
    width: 68.35443%;
    float: left;
    margin-left: 31.64557%;
    margin-right: -100%; } }

@media all and (min-width: 56.25em) {
  .post--with-aside .post__entry {
    width: 68.35443%;
    float: left;
    margin-left: 31.64557%;
    margin-right: -100%; } }

.post--with-aside .post__entry > :nth-child(1) {
  margin-top: 0; }

.post--with-aside .post__entry > :last-child {
  margin-bottom: 0; }

@media all and (min-width: 56.25em) {
  .post--with-aside .post__image--wide {
    margin-left: -46.2963%;
    margin-right: 0; } }

.post--with-aside .post__image--wide > img {
  height: auto;
  width: 100%; }

.post--with-aside .post__image--wide > figcaption {
  text-align: left; }

@media all and (min-width: 56.25em) {
  .post--with-aside .post__entry__wide {
    margin-left: -46.2963%;
    width: 100%; } }

@media all and (min-width: 56.25em) {
  .post--with-aside .post__entry__wide--full {
    margin-left: -46.2963%;
    margin-right: 0; } }

.post-nav {
  color: #7a7e88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.6243rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  letter-spacing: 0.08em;
  text-transform: uppercase; }
  @media all and (max-width: 56.1875em) {
    .post-nav {
      max-width: 36rem;
      margin: 4rem auto 0; } }
  @media all and (min-width: 56.25em) {
    .post-nav {
      bottom: calc(100vh - 100vh);
      margin-top: 3rem;
      padding: 6rem 3rem;
      position: absolute;
      width: calc(100% - 3rem * 2); } }
  .post-nav__link {
    display: block;
    color: #4e5360 !important; }
    .post-nav__link--light {
      color: #fff !important; }
  .post-nav h5 {
    margin: 0.25rem 0 0;
    position: relative;
    text-transform: none;
    -webkit-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out; }
  .post-nav__prev {
    width: auto; }
    .post-nav__prev h5:before {
      content: "\2190";
      position: absolute;
      top: -3rem;
      -webkit-transition: all 0.35s ease-out;
      -o-transition: all 0.35s ease-out;
      transition: all 0.35s ease-out;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); }
    .post-nav__prev:hover h5 {
      -webkit-transform: translateX(0.75rem);
      -ms-transform: translateX(0.75rem);
      transform: translateX(0.75rem); }
      .post-nav__prev:hover h5:before {
        -webkit-transform: translateX(-1.5rem);
        -ms-transform: translateX(-1.5rem);
        transform: translateX(-1.5rem); }
  .post-nav__next {
    margin-left: auto;
    text-align: right;
    width: auto; }
    .post-nav__next h5:after {
      content: "\2192";
      position: absolute;
      right: 0;
      top: -3rem;
      -webkit-transition: all 0.35s ease-out;
      -o-transition: all 0.35s ease-out;
      transition: all 0.35s ease-out;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); }
    .post-nav__next:hover h5 {
      -webkit-transform: translateX(-0.75rem);
      -ms-transform: translateX(-0.75rem);
      transform: translateX(-0.75rem); }
      .post-nav__next:hover h5:after {
        -webkit-transform: translateX(1.5rem);
        -ms-transform: translateX(1.5rem);
        transform: translateX(1.5rem); }

.tank:after {
  content: " ";
  display: block;
  clear: both; }

@media all and (min-width: 37.5em) {
  .tank {
    max-width: 36rem;
    margin: 0 auto; } }

@media all and (min-width: 56.25em) {
  .tank {
    margin-bottom: 3rem;
    max-width: 52rem; } }

.tank__inner {
  margin: 4rem auto 0; }
  @media all and (min-width: 56.25em) {
    .tank__inner {
      margin: 0 auto;
      padding-top: 1.5rem;
      width: 68.35443%; } }
  @media all and (min-width: 56.25em) {
    .tank__inner--with-aside {
      max-width: 52rem;
      width: 68.35443%;
      float: left;
      margin-left: 31.64557%;
      margin-right: -100%; } }

.banner {
  text-align: center; }
  .banner--after-post {
    margin-top: 4rem; }

.search-page__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-left: 0; }
  @media all and (min-width: 56.25em) {
    .search-page__input {
      width: 36rem; } }

.gsc-control-cse {
  padding: 0; }

.gs-webResult {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 1rem; }

.gsc-table-result {
  margin-top: 0.5rem;
  white-space: initial; }
  .gsc-table-result td {
    padding: 0; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-justify {
  text-align: justify; }

.msg {
  padding: 1rem 1.5rem; }
  .msg--highlight {
    background-color: #fefbf1; }
  .msg--info {
    background-color: #f0faff; }
  .msg--success {
    background: #f2faeb; }

.dropcap:first-letter {
  float: left;
  font-family: "PT Serif", serif;
  line-height: 0.6;
  margin-right: 0.75rem;
  padding: 0.5rem 0.5rem 0.5rem 0; }
  .dropcap:first-letter {
    font-size: 2.88651rem; }
    @media screen and (min-width: 20rem) {
      .dropcap:first-letter {
        font-size: calc(2.88651rem + 1.73712 * ((100vw - 20rem) / 113)); } }
    @media screen and (min-width: 133rem) {
      .dropcap:first-letter {
        font-size: 4.62363rem; } }

/* Pagination ------------------------ */
.pagination {
  background: rgba(78, 83, 96, 0.06);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  font-size: 0;
  overflow: hidden;
  position: relative;
  z-index: 999999; }
  .pagination__prev, .pagination__next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #4e5360;
    height: 3rem;
    padding: 0 1rem;
    position: relative;
    width: 50%;
    overflow: hidden; }
    .pagination__prev:after, .pagination__next:after {
      background: #D6496C;
      content: "";
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      -webkit-transition: all 0.35s ease-out;
      -o-transition: all 0.35s ease-out;
      transition: all 0.35s ease-out;
      z-index: 1; }
    .pagination__prev > svg, .pagination__next > svg {
      fill: #fff;
      height: 1.35rem;
      position: relative;
      width: 1.35rem;
      z-index: 2; }
  .pagination__prev {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .pagination__prev:after {
      right: 0;
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%); }
    .pagination__prev:hover:after {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); }
  .pagination__next {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-left: auto; }
    .pagination__next:after {
      left: 0;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%); }
    .pagination__next:hover:after {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); }

/* Footer ------------------------ */
.footer {
  line-height: 1; }
  @media all and (max-width: 56.1875em) {
    .footer {
      border-top: 1px solid rgba(0, 0, 0, 0.15);
      margin-top: 3rem;
      padding: 1.5rem 0;
      text-align: center; } }
  @media all and (min-width: 56.25em) {
    .footer {
      bottom: 3rem;
      position: fixed;
      width: calc(100% - 6rem); } }
  @media all and (min-width: 56.25em) {
    .footer__social {
      bottom: 0;
      position: absolute;
      left: calc(-1.5rem - 0.44444rem); } }
  .footer__social > a {
    display: block;
    padding: 0.5rem 0.5rem 0 0; }
    @media all and (max-width: 56.1875em) {
      .footer__social > a {
        padding: 0 0.75rem; } }
  .footer__social .icon {
    fill: rgba(78, 83, 96, 0.8);
    height: 0.88889rem;
    width: 0.88889rem; }
  .footer__copyright {
    color: #7a7e88;
    font-size: 0.6243rem;
    letter-spacing: 0.08em;
    text-transform: uppercase; }
    @media all and (max-width: 56.1875em) {
      .footer__copyright {
        padding: 0.75rem 0; } }
    @media all and (min-width: 56.25em) {
      .footer__copyright {
        height: 1rem;
        position: absolute;
        right: calc(-1.5rem - 0.3rem);
        -webkit-transform: rotate(-90deg) translateY(50%);
        -ms-transform: rotate(-90deg) translateY(50%);
        transform: rotate(-90deg) translateY(50%);
        -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
        transform-origin: left top;
        white-space: nowrap;
        width: 1rem; } }

.icon {
  display: inline-block;
  -webkit-transition: all 0.12s linear 0s;
  -o-transition: all 0.12s linear 0s;
  transition: all 0.12s linear 0s; }

.gallery {
  margin: calc(1.5rem + 1vw) -0.5rem; }
  @media all and (min-width: 20em) {
    .gallery {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media all and (min-width: 20em) {
    .gallery[data-columns="1"] .gallery__item {
      width: 100%; } }
  @media all and (min-width: 30em) {
    .gallery[data-columns="2"] .gallery__item {
      width: 50%; } }
  @media all and (min-width: 37.5em) {
    .gallery[data-columns="3"] .gallery__item {
      width: 33%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="4"] .gallery__item {
      width: 25%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="5"] .gallery__item {
      width: 20%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="6"] .gallery__item {
      width: 16.666%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="7"] .gallery__item {
      width: 14.285%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="8"] .gallery__item {
      width: 12.5%; } }
  .gallery__item {
    margin: 0;
    padding: 0.5rem; }
    @media all and (min-width: 20em) {
      .gallery__item {
        width: 50%; } }
    @media all and (min-width: 30em) {
      .gallery__item {
        width: 33.333%; } }
    @media all and (min-width: 37.5em) {
      .gallery__item {
        width: 25%; } }
    .gallery__item img {
      display: block;
      width: 100%; }

.pswp--dark .pswp__bg {
  background: #2a2e30; }

.pswp--light .pswp__bg {
  background: #fff; }

.pswp--light .pswp__counter {
  color: #4e5360; }

.pswp--light .pswp__caption__center {
  color: #4e5360; }

/*# sourceMappingURL=main.css.map */